#admin-p {
    width: 100%;
}

.info_dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
}

.info_dialog {
    margin-top: 20%;
    border: none;
    border-radius: 10px;
    background: white;
    color: black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 32%;
    text-align: center;
}

#admin-panel {
    width: 100%;
    background-color: black;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 1);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.admin-panel-part {
    width: 50%;
    background-color: bisque;
}

.admin-panel-line {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 2.5%;
    box-sizing: border-box;
}

#main-admin-line {
    height: 30%;
}

#users-window {
    height: 30%;
    width: 95%;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
  
#notes-window {
    position: relative;
    height: 70%;
    width: 90%;
    margin: 5%;
    overflow-y: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0;
    box-shadow: inset 0 20px 15px rgba(0, 0, 0, 1);
    z-index: 1000;
}

#notes-window::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), transparent);
    pointer-events: none; 
    z-index: 10; 
}

.tbody {
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 1);
    margin: auto;
    border: 3px solid black;
    box-sizing: border-box;
}

.post-div {
    background-color: black;
    color: black;
    width: 90%;
    margin-left: 5%;
    height: 10vh;
    margin-bottom: 2.5%;
    display: flex;
    background-color: white;
    font-size: 90%;
}

.post-text {
    height: 100%;
    width: 60%;
    background-color: white;
    box-sizing: border-box;
}

.post-buttons {
    width: 10%;
    height: 100%;
    background-color: black;
}

.post-button {
    width: 100%;
    height: calc(100%/3);
    background-color: black;
    box-sizing: border-box;
    font-size: 80%;
    
    display: flex;
    justify-content: center;
}

.post-button:hover:not(:nth-child(2)) {
  background-color: white;
  color:black;
}

.user-id-header {
    width: 65%;
    height: 100%;
}

.user-id-value {
    width: 35%;
    height: 100%;
}

.post-date {
    width: 100%;
    height: 50%;
    background-color: black;
    display: block;
    padding-top: 2.5%;
    display: flex;
    align-items: center;
}

.post-number {
    width: 100%;
    height: 50%;
    background-color: black;
    color: white;
    display: flex;
    padding-top: 2.5%;
    box-sizing: border-box;
    
    justify-content: center;
    align-items: center;
}

.post-number-header {
    width: 50%;
    height: 80%;
    text-align: right;
}

.post-number-value {
    text-align: left;
    width: 50%;
    height: 80%;
}

.post-info {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    box-sizing: border-box;
}

#post-edit-form-text {
    height: 20%;
}

.admin-panel-part2 {
    width: calc(100%/3);
    background-color: black;
    height: 100%;
}

.button-div {
    width: 100%;
    height: calc(77.9%/5);
    display: flex;
}

.button-div:nth-child(1) {
    margin-top: 15%;
}

.spec-menu-butt {
    background-color: blue;
    width: 90%;
    display: block;
    box-sizing: border-box;
}

#user-id {
    width: 10%;
}

#admin-control-buttons {
    width: 90%;
    height: 80%;
    box-sizing: border-box;
    margin-left: 5%;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 1);
}

.menu-butt {
    width: 100%;
    height: 20%;
    display: block;
    box-sizing: border-box;
    border: 2px solid black;
    font-size: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.menu-butt:hover {
    background-color: black;
    color: white;
}

.user-div {
    width: 95%;
    height: 22%;
    display: flex;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    margin-left: 2.5%;
    border: 2px solid black;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    color: black;
    border-radius: 2%;
    background-color: black;
}

.user-info-div {
    width: 70%;
    min-height: 100%;
    display: flex;
    background-color: black;
}

.user-buttons-div {
    width: 30%;
    height: 100%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}



.username-div {
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.user-id-div {
    width: 20%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-rivi {
    width: 100%;
    height: 50%;
    display: flex;
    box-sizing: border-box;
}

.user-button {
    width: 50%;
    height: 100%;
    background-color: black;
    border: 2px solid black;
    box-sizing: border-box;
    color: white;
    font-size: 60%;
}

.user-button:hover {
    background-color: white;
    color: black;
}

#user-name-value {
    margin-top: 2.5%;
}

#logo-id {
    height: 100%;
    border-left: 4px solid black;
    border-right: 4px solid black;
    box-sizing: border-box;
}

