
  
.loginForm {
    width: 100%;
    height: 60%;
    margin-bottom: 30%;
    color: black;
}

.login-form-div {
    width: 35%;
    height: 30%;
    margin: 0 auto 30% auto;
}

.login-buttons {
    width: 80%;
    height: 14%;
    background-color: black;
    margin: 3% auto auto auto;
    border-radius: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    color: white;
}
  
.signForm {
    width: 100%;
    height: 75%;
    margin-bottom: 30%;
    color: black;
}

#error-message-login {
    width: 30%;
    height: 10%;
    margin: auto;
    position: fixed;
    background-color: black;
    color: white;
    top: 40%;
    left: 51%;
    box-sizing: border-box;
    z-index: 1000; /* Поверх затемнения */
    pointer-events: auto;
}

#error-close {
    background-color: white;
    color: black;
    width: 20%;
    margin: auto;
    z-index: 1000; /* Поверх затемнения */
    pointer-events: auto;
}

#logo-div {
    width: 45%;
    height: 30%;
    margin: 20% auto auto auto;
    background-color: yellow;
    
}


