.regular-panel {
    width: 100%;
    height: 100%;
}

.regular-panel-line {
    width: 100%;
    height: 20%;
    display: flex;
    color: white;
}

.regular-panel-part {
    width: calc(100%/3);
    height: 100%;
    background-color: black;
}

.regular-panel-button {
    width: 100%;
    height: 16%;
    background-color: darkblue;
    border: 1px solid black;
    box-sizing: border-box;
}

.regular-panel-button:nth-child(1) {
    margin-top: 13%;
}

.regular-panel-posts {
    height: 80%;
    width: 100%;
    background-color: black;
    overflow: hidden;
}

.tbody2 {
    width: 90%;
    height: 90%;
    background-color: white;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 1);
    margin: 4.5% 5%;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

.post-div {
    color: black;
    width: 90%;
    margin-left: 5%;
    height: 12vh;
    margin-bottom: 2.5%;
    display: flex;
}