DB_HOST=localhost
DB_USER=
DB_PASSWORD=
DB_NAME=theDeck

CREATE USER 'user'@'localhost' IDENTIFIED BY 'password';
GRANT ALL PRIVILEGES ON 'theDeck'.* TO 'user'@'localhost';
FLUSH PRIVILEGES;

JWT_SECRET=f3b1a8f7cfc9b0a72c4e5e7b5d916e5a0d3c4e8f89e9a7b2f6c3d7a9f1b2c3d4
JWT_EXPIRES_IN=24h
Client_ID=1